body {
    background: linear-gradient(to left, #E6DADA 20%, rgba(240,168,211,1) 100%);
    animation: color 12s ease-in-out infinite;
    background-size: 400% 400%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes color {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.boxTeacher{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem
}

.boxStudent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem
}

#numbers{
  width: 100px;
}